*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
  
}
.wrapper{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

/* header */
header{
    /* background-color: #E1E4ED; */
    /* background-color: #4B95FF; */
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 14%;
    border-bottom: 6px solid  
    #173051;
    /* border-top: 4px solid  
    #173051; */
    transition: all 0.5s ease;
}
#site-header.hide{
    top: -14%;
}
.logo, #navbar, .rightCompo{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 15%;
    height: 100%;
    color:#4B95FF;
    /* color: white; */
}
/* .logo img{
    background-color: white;
} */
nav{
    width: 30%;
    height: fit-content;
}

nav a{
    color:#94989c;
    /* color: white; */
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}
.active, .menu:hover{
    color:#495057;
}

.rightCompo{
    margin-right: 1rem;
    width: 20%;
    height: 100%;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}
.rightCompo h3{
    color: #94989c;
}
.dropdown-content{
    display: none;
}
.fa{
    /* color: #515F69; */
    color: #94989c;
    cursor: pointer;
}
.fa:hover{
    /* color:#4B95FF; */
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 2.3rem;
    background-color: #f1f1f1;
    min-width: 12%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1rem;
    text-transform: capitalize;
}
.dropdown-content a {
    color: #173051;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}


/* content */
.formFill{
    width: 100%;
    margin-top: 8rem;
}
.back-arrow{
    position: absolute;
    left: 25%;
    top: 22%;
}
.back-arrow i{
    color:#173051;
    cursor: pointer;
}
.back-arrow i:hover{
    /* border: 2px solid white; */
    color: #4B95FF;
}
.top-note{
    font-family: 'Montserrat', sans-serif;
    color: #173051;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 2rem;
}

.booking{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 40px;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #173051;
}
.sub1, .sub2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.sub-content1, .sub-content2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 0 1.5rem 0;
    font-weight: bold;
}
.sub-content2 input{
    font-family: 'Montserrat', sans-serif;
    color: #173051;
}
.left, .right{
    margin: 1rem 1.5rem 1.5rem 1.5rem;
    flex-wrap: wrap;
    flex: 40%;
    width: 100%
}
.sub2{
    margin: -2.3rem 0 0 0;
}
form input, select{
    width: 70%;
    height: 1.9rem;
    text-align: center;
    background-color: #FEF1F1;
    border: none;
    outline: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
form select{
    height: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    color: #173051;
}
.uploadImg{
    display:flex;
    align-items: center;
    justify-content: center;
}
.uploadImg label{ 
    width:40%;
    height: 2.2rem;
    text-align:center;
    line-height: 2.3rem;
    background:#FEF1F1;
    font-family: 'Montserrat', sans-serif;
    color: #173051;
    text-transform:Uppercase;
    border-radius:15px;
    cursor:pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin-right: 1rem;
    font-size: 13px;
}
.uploadImg label:hover{
    background-color: #EED2D2;
    border: 1px solid white;

}
.uploadImg input{
    display: none;
}
.preview img{
    width:60%;
    height: 100%;
    display:none;
    border-radius: 10px;
}
.preview{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 50%;
}
.acc{
    text-align: center;
}
.sub3{
    display:flex;
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.btn1, .btn2{
    width:25%;
    height: 2.2rem;
    border-radius: 15px;
    text-align: center;
    line-height: 2rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

}
.btn1{
    background-color: #4B95FF;
}
.btn1 p{
    color: white;
}
.btn2{
    background-color: #FDE4E4;
}
.btn2 a{
    color: black;
}
.btn1 a, .btn2 a{
    text-decoration: none;
    outline: none;
    border: none;
}
.btn1:hover, .btn2:hover{
    border: 1px solid white;
}

.pop-up{
    position:absolute;
    top: 35%;
    left:37%;
    width: 30%;
    height: 40%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 40px;
    background: #FEF1F1;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
.pop-up{
    display: none;
}
.text, .buttn{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #173051;
}
.buttn{
    width: 25%;
    height: 13%;
    border-radius: 15px;
    background: #4B95FF;
    font-weight: bold;
    line-height:1.8rem;
}
.buttn a{
    text-decoration: none;
    color: white;
}
.exhibit{
    display:flex;
}
.disappear{
    opacity:50%;
}

/* footer */
.container{
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul{
   list-style: none;
}
.footer{
    /* background-color:  rgb(56, 58, 179); */
    background-color: #173051;
    padding: 40px 0;
}
.footer-col{
    width: 22%;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 34px;
    font-weight: 500;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-shadow: #474747 3px 5px 2px;
    font-family: 'Roboto', sans-serif;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    padding-top: 5px;

}
.bottomDiv{
    width: 100%;
    padding: 1rem;
    background-color: #002742;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomDiv p{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color:white;
    opacity: 80%;
}


/*responsive*/
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .feedback p{
        display: none;
    }
    .bookingContainer{
        display: flex;
        flex-direction: column;
    }
   
}
@media(max-width: 574px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width:1030px){
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
    }
    nav a{
        font-size: 1em;
    } 
    .feedback p{
        font-size: 0.6em;
    }
}
@media(max-width: 700px){
    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:fit-content;
        justify-content: space-around;
    }
    nav{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav a{  
        font-size: 0.9em;
    }
    .rightCompo h3{
        font-size: 0.9em; 
    }
    .carWashWrapper{
        display: flex;
        flex-direction: column;
    }
    .sub1, .sub2{
        display: flex;
        flex-direction: column;
    }
}
