body{
    background-color: #E1E4ED;
    height: 100vh;
}
.background{
    width: 520px;
    height: 400px;
    position: absolute;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.background .shape{
    height:150px;
    width:150px;
    position: absolute;
    border-radius: 50%;
}
.background .shape:first-child{
    background-image:linear-gradient(63.1deg, rgb(6, 30, 151) 16.4%, rgba(24,95,240,1) 64.5%);
    left:0px;
    top:-100px;
}

.background .shape:last-child{
    background-image:linear-gradient(68.3deg, #4B95FF 0.4%, #4B95FF 100.2%);
    left: 20px;
    top:-100px;
}
form{
    height:400px;
    width:400px;
    background-color: rgba(255, 255, 255, 0.13);
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 9px 10px 17px 2px rgba(75,149,255,0.75);
    padding: 50px, 35px;
}
form *{
 font-family: 'poppins', sans-serif;
 color:#000000;
 letter-spacing: 0.5px;
 outline: none;
 border:none;
}
form h3{
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#173051;
}
label{
    display:block;
    margin-top:30px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#173051;
}
input{
    height: 50px;
    width:100%;
    background-color: rgba(196, 84, 84, 0.07);
    border-radius: 3px;
    padding: 0 15px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
form i { 
    cursor: pointer;
	position: absolute;
	top: 65%;
	right: 10px;
}
form .forgotpasswd{
    position: absolute;
    top: 71%;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 10px;
    color: blue;
    cursor: pointer;
}
#submit{
    margin-top: 35px;
    width: 100%;
    background-color: #4B95FF;
    color: #AEE8FF;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
form .register{
    color: blue;
    position:relative;
    bottom:-5px;
    margin-left: 30%;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
}

